{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
<div class="homepage">
  <div id="content" class="container">
    {{ self.flash() }}
  </div>
  {% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block search %}
              {% snippet 'home/snippets/search.html', search_facets=search_facets %}
            {% endblock %}
          </div>
        </div>
        <div class="floating-banner shadow">
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="/img/datos-1.png" alt="">
              <div>
                <a href="/pages/datos-abiertos" target="_blank">
                  <h2>{{ _('¿Qué son los datos abiertos?') }}</h2>
                </a>
                <p>{{ _('Los datos abiertos son información pública digital, accesible, reutilizable y libre de restricciones legales o técnicas.')}}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <img src="/img/datos-2.png" alt="">
              <div>
                <a href="{{ h.url_for('dashboard.datasets') }}">
                  <h2>{{ _('Datos abiertos disponibles.') }}</h2>
                </a>
                <p>{{ _('Explora, descarga y reutiliza datos públicos para generar conocimiento, innovación y transparencia.')}}</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <img src="/img/datos-3.png" alt="">
              <div>
                <a href="/pages/eventos" target="_blank">
                  <h2>{{ _('Eventos de datos abiertos.') }}</h2>
                </a>
                <p>{{ _('Promovemos el diálogo, el aprendizaje y la colaboración en torno a los datos abiertos.') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main module-feeds">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {# Note: this featured_group block is used as an example in the theming
            tutorial in the docs! If you change this code, be sure to check
            whether you need to update the docs. #}
            {# Start template block example. #}
            {% block featured_group %}
              {% snippet 'home/snippets/featured_group.html' %}
            {% endblock %}
            {# End template block example. #}
          </div>
        </div>
      </div>
    </div> 
  </div>
  {% endblock %}
</div>
{% endblock %}