{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}

{% set url = h.url_for(org.type + '.read', id=org.name, ) %}
{% block package_info %}
<!-- i was info-->
  {% if pkg %}
<section class="module module-narrow">
    <div class="module context-info">
        <div class="module-content">
            <div class="row">
                {% block package_info_inner %}
                    <div class="col-12">
                        {% block image %}
                        <div class="image">
                            <a href="{{ url }}">
                                <img src="{{ org.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" style="width: 60%;" alt="{{ org.name }}" />
                            </a>
                        </div>
                        {% endblock %}
                    </div>
                    <div class="col-12">
                        {% block heading %}
                        <h1 class="heading">{{ h.dataset_display_name(pkg) }}</h1>
                        
                        <span style="font-size: 17px;">
                            {{ org.title or org.name }}
                            {% if org.state == 'deleted' %}
                            [{{ _('Deleted') }}]
                            {% endif %}
                        </span>

                        {% endblock %}

                    </div>
                    

                {% endblock %}
            </div>

        </div>
    </div>
</section>
  {% endif %}
{% endblock %}