<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row align-items-center">
        <div class="col-12 col-md-6 hn-logo">
            <img src="/img/logos/hn-logo-2.png" alt="Ministerio de Ambiente y Recursos Naturales">
        </div>
        <div class="col-12 col-md-6 contact-info text-start text-md-end align-items-center">
            <a href="https://x.com/hngt" target="_blank">
                <img src="/img/icons/x.png" alt="x">
            </a>
            <a href="https://www.facebook.com/hngtambiente/" target="_blank">
                <img src="/img/icons/facebook.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/hngt/" target="_blank">
                <img src="/img/icons/instagram.png" alt="instagram">
            </a>
            <a href="https://www.youtube.com/channel/UCVu-p8rfULed3NYHG2He_yw" target="_blank">
                <img src="/img/icons/youtube.png" alt="youtube">
            </a>
        </div>
    </div>
    {% endblock %}
  </div>
</footer>

{% if False %}
    <footer class="red-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-10 red-info">
                    <a href="https://redciudadana.org/" target="_blank">
                        <img src="/img/logos/red-ciudadana-logo.png" alt="Red Ciudadana" class="logo-red">
                    </a>
                    <p>{{ _('Implementado con la asistencia técnica de Asociación Civil Red Ciudadana') }}</p>
                </div>
                <div class="col-12 col-md-2 text-end">
                    <img src="/img/icons/oss.png" alt="Open Source Software" width="100px">
                </div>
            </div>
        </div>
    </footer>
{% endif %}