{% ckan_extends %}

{% block header_site_search %}
<div class="d-flex contact-info">
    <a href="https://x.com/stlcchn" target="_blank">
        <img src="/img/icons/x.png" alt="x">
    </a>
    <a href="https://www.facebook.com/stlcchonduras/" target="_blank">
        <img src="/img/icons/facebook.png" alt="facebook">
    </a>
    <a href="https://www.instagram.com/stlcchn" target="_blank">
        <img src="/img/icons/instagram.png" alt="instagram">
    </a>
</div>
{% endblock %}

{% block header_site_navigation_tabs %}
    {% set org_type = h.default_group_type('organization') %}
    {% set group_type = h.default_group_type('group') %}

<ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
    <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">Nosotros</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="datosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Datos
        </a>
        <ul class="dropdown-menu" aria-labelledby="datosDropdown">
            <li><a class="dropdown-item" href="/dataset/">Conjuntos de datos</a></li>
            <li><a class="dropdown-item" href="/organization/">Instituciones</a></li>
            <li><a class="dropdown-item" href="/group/">Categorías</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/stats">Estadísticas</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pages/pida">PIDA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Participa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a>
    </li>
</ul>

{% endblock %}