{% extends "page.html" %}

{% set organization = c.group_dict %}

{% block subtitle %}{{ organization.display_name if organization else _('Edit Organization') }} - {{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  {% if organization %}
    <li>{% link_for organization.display_name|truncate(35), controller='organization', action='read', id=organization.name %}</li>
  {% endif %}
  <li class="active">{% link_for _('Manage'), controller='organization', action='edit', id=organization.name if organization else '' %}</li>
{% endblock %}

{% block content_action %}
  {% if organization and h.check_access('organization_update', {'id': organization.id}) %}
    {% link_for _('View'), controller='organization', action='read', id=organization.name, class_='btn', icon='eye-open' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {% if organization %}
    {{ h.build_nav_icon('organization_edit', _('Edit'), id=organization.name) }}
    {{ h.build_nav_icon('organization_bulk_process', _('Datasets'), id=organization.name) }}
    {{ h.build_nav_icon('organization_members', _('Members'), id=organization.name) }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% if organization %}
    {% snippet 'organization/snippets/info.html', organization=organization, show_nums=true %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% if organization %}
    {% include "organization/snippets/feeds.html" %}
  {% endif %}
{% endblock %}